#lista {
  max-height: 300px; /* Ajusta la altura máxima que desees para la tabla */
  overflow-y: auto; /* Agrega un desplazamiento vertical cuando sea necesario */
}

table,
th,
td {
  border: 1px solid #595959;
  border-collapse: collapse;
  border-spacing: 2px;
  padding: 5px;
}
table {
  width: 100%;
}
th {
  color: #ffedd8;
  background-color: rgb(92, 32, 255);
}
tr:nth-child(even) {
  /* esta funcion con parametro even selecciona los
  renglones pares, odd= impar */
  background-color: #fac5d2;
}

tr:nth-child(odd) {
  background-color: #dfe5e7;
}
